  <footer class="footer text-center text-white">
    <!-- Grid container -->
    <div class="container my-2">
       <!-- Section: Social -->
        <a href="" class="text-white me-4">
          <i class="bi bi-facebook"></i>
        </a>
        <a href="https://twitter.com/?lang=en" class="text-white me-4">
          <i class="bi bi-twitter-x"></i>
        </a>
        <a href="https://www.instagram.com/" class="text-white me-4">
          <i class="bi bi-instagram"></i>
        </a>
        <a href="https://www.linkedin.com/" class="text-white me-4">
          <i class="bi bi-linkedin"></i>
        </a>
        <a href="https://github.com/" class="text-white me-4">
          <i class="bi bi-github"></i>
        </a>
      <!-- Section: Social -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div
         class="text-center p-2"
         style="background-color: rgba(0, 0, 0, 0.2)"
         >
© تمامی حقوق این سایت متعلق به کافه جی تو می باشد.
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->