<!-- list_item -->
<style>
    .spinner-border {
        margin-top: 120px;
        margin-left: 140px;
        margin-right: 140px;
        margin-bottom: 120px;
    }
</style>

<div class="container text-center">
    <div class="row">
        {% for item in items %}
            <div class="col-3">
                <div class="card" id="loading-card-{{ item.id }}">
                    <div class="spinner-border" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title placeholder-glow">
                            <span class="placeholder col-6"></span>
                        </h5>
                        <p class="card-text placeholder-glow">
                            <span class="placeholder col-4"></span>
                            <span class="placeholder col-6"></span>


                        </p>
                        <a class="btn btn-primary disabled placeholder col-6" aria-disabled="true"></a>
                    </div>
                </div>

                <div class="card" id="item-card-{{ item.id }}" style="display: none;">
                    <img src="{{ item.image.url }}" class="card-img-top" alt="..." height="300" width="150">
                    <div class="card-body">
                        <h5 class="card-title">{{ item.name }}</h5>
                        <p class="card-text">{{ item.category }} - قیمت: {{ item.price|floatformat:"0" }}</p>


                        <form method="post" action="{% url "coffe:add_to_cart" %}">
                            {% csrf_token %}
                            <input type="hidden" name="item_id" value="{{ item.id }}">
                            <button type="submit" class="btn btn-success">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                    fill="currentColor"
                                    class="bi bi-cart-plus-fill" viewBox="0 0 16 16">
                                    <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0m7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0M9 5.5V7h1.5a.5.5 0 0 1 0 1H9v1.5a.5.5 0 0 1-1 0V8H6.5a.5.5 0 0 1 0-1H8V5.5a.5.5 0 0 1 1 0"></path>
                                </svg>
                            </button>
                        </form>

                         <form method="post" action="{% url "coffe:remove_from_cart" %}" >
                             {% csrf_token %}
                             <input type="hidden" name="item_id" value="{{ item.id }}">
                             <button type="submit" class="btn btn-outline-danger">
                                 <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                      fill="currentColor"
                                      class="bi bi-cart-dash-fill" viewBox="0 0 16 16">
                                     <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0m7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0M6.5 7h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1 0-1"></path>
                                 </svg>
                             </button>
                         </form>
                    </div>

                </div>
            </div>
        {% endfor %}
    </div>
</div>
<script>
    {% load static %}
    setTimeout(function () {
        {% for item in items %}
            // Hide loading card and show main card content
            var loadingCard{{ item.id }} = document.getElementById("loading-card-{{ item.id }}");
            var itemCard{{ item.id }} = document.getElementById("item-card-{{ item.id }}");

            loadingCard{{ item.id }}.style.display = "none";
            itemCard{{ item.id }}.style.display = "block";
        {% endfor %}
    }, 150);
</script>
<!-- end_list_item -->

